/* Slide 6 Styles */
.slide6 {
	position: absolute;
	top: 60px;
	background: url(../images/xeralto/clotman_5.png) -75px 5px no-repeat,
	url(../images/efficacy/clotman_6.png) -15px 670px no-repeat,
	url(../images/efficacy/clotman_7.png) 860px 345px no-repeat,	url(../images/rocket_af/clotman_9.png) 996px 359px no-repeat;
	width: 100%;
	height: 716px;
}
.slide6 #graph1 {
	position: absolute;
     width: 559px; height: 317px; left: 190px; background-image: url(../images/efficacy/6.0a_graph.png);
}

.slide6 .effGraphArrow { background: url(../images/efficacy/6aarrow.png) no-repeat; height: 132px; left: 690px; position: absolute; top: 10px; width: 157px;}
.slide6 .ref1 { left: 190px; position: absolute; top: 468px; }
.slide6 .ref2 { left: 211px; position: absolute; top: 485px; }
.slide6 .ref1 p, .slide6 .ref2 p { color: black;  font-family: "FrutigerLTStd57Condensed", sans-serif; font-size: 11px;  text-align: left; }


.slide6 .legend {
	width: 100px;
	position: absolute;
	top: 16px;
	left: -107px;
	font-family: "Frutiger55RomanBold", sans-serif;
	font-size: .9em;
	text-align: right;
}
.slide6 .module .legend, .module .source {
	font-family: "FrutigerLTStd77BlackCondensed", sans-serif;
	font-weight: normal;
}

.slide6 .module {
	border: 1px solid #ad9cc1;
	border-top-right-radius: 19px;
	border-bottom-left-radius: 19px;
	margin-bottom: 2em;
	float: left;
	position: relative;
	z-index: 5;
	background-color: white;
	-webkit-box-shadow: 0 6px 6px rgba(0,0,0, 0.4);
}
