/* Slide 1 Styles */
.slide0 { clip:rect(0px,1024px,716px,0px); position: absolute;  top: 0px;}
.slide0 div { height: 716px; float: left;}
.slide0 div.frontLeg { background:url(../images/home/leg.png) no-repeat 100px 0px; width:470px;
    -webkit-transition: -webkit-transform 2s ease-out;
    -webkit-transform: translate3d(0,0,0);
	position: absolute;
	top: 0;
	left: 0;
}
.slide0 p.legTitle { left: 100px; position: absolute; text-align: left; top: 125px;}
.slide0 div.frontSpafContainer { position: absolute; left: 465px; width: 768px;
    -webkit-transition: -webkit-transform 2s ease-out;
    -webkit-transform: translate3d(0,0,0); }
.slide0 p.frontTitle { left: 53px; position: absolute; text-align: left; top: 420px;}
.slide0 div.frontBrain  { background: url(../images/home/BrainTitleimage.png) no-repeat 50px 130px; position: absolute; width: 780px; }
.slide0 div.frontVein { 
	background: url(../images/home/VeinIntroimage.png) no-repeat,
	url(../images/slide3/clotman_1.png) 642px 385px no-repeat;
	position: absolute; 
	left: 540px; 
	top: 0px; 
	width: 819px;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -webkit-transform: translate3d(0,0,0); 
}
.swipebutton {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}